.input-first-small {
    border-radius: 2px;
    padding: 5px 25px;
}

.input-second-medium {
    border-radius: 2px;
    padding: 10px 30px;
}

.input-third-large {
    border-radius: 2px;
    padding: 15px 35px;
}