button {
    border-radius: 2px;
    padding: 5px 25px;
}

.button-large {
    padding: 10px 50px;
}

.button-primary {
    background-color: #33A0FF;
    color: white;
    border: #33A0FF;
}

.button-primary-hover:hover {
    background-color: #2E90E5;
    color: white;
    border: #2E90E5;
}

.button-primary-outline {
    background-color: #FFFFFF;
    color:#33A0FF;
    border: 2px solid #33A0FF;
}

.button-primary-faded {
    background-color: #EAF5FF;
    color:#33A0FF;
    border: #EAF5FF;
}

.button-danger {
    background-color: #FF4858;
    color: white;
    border: #FF4858;
}

.button-danger-hover:hover {
    background-color: #F53848;
    color: white;
    border: #F53848;
}

.button-danger-outline {
    background-color: #FFFFFF;
    color: #FF4959;
    border: 2px solid #FF4858;
}

.button-danger-faded {
    background-color: #FFECEE;
    color: #FF4959;
    border: #FFECEE;
}

.button-success {
    background-color: #09C309;
    color: white;
    border: #09C309;
}

.button-success-hover:hover {
    background-color: #046d04;
    color: white;
    border: #046d04;
}

.button-success-outline {
    background-color: #FFFFFF;
    color: #0AD00A;
    border: 2px solid #0AD00A;
}

.button-success-faded {
    background-color: #E6FAE6;
    color: #0AD00A;
    border: #E6FAE6;
}

.button-warning {
    background-color:#FFC600;
    color: white;
    border: #FFC600;
}

.button-warning-hover:hover {
    background-color: #EBB600;
    color: white;
    border: #EBB600;
}

.button-warning-outline {
    background-color: #FFFFFF;
    color: #FFC600;
    border: 2px solid #FFC600;
}

.button-warning-faded {
    background-color: #FFF9E5;
    color: #FFD235;
    border: #FFF9E5;
}



.button-default {
    background-color: #22262A;
    color: white;
    border: #22262A;
}

.button-default-hover:hover {
    background-color: #13161A;
    color: white;
    border: #13161A;
}

.button-default-outline {
    background-color: #FFFFFF;
    color: #22262A;
    border: 2px solid #22262A;
}

.button-default-faded {
    background-color: #F6F7F8;
    color: #22262A;
    border: #F6F7F8;
}