button {
    border-radius: 2px;
    padding: 5px 25px;
}

.button-primary {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
}

.button-danger {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
}

.button-warning {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
}

.button-success {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
}